{% extends "padre.html" %}

{% load static %}


{% block title %}

{% endblock %}


{% block content%}

<div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
  <div>
      <div class="img_card">
          <div class="row justify-content-center">
              <div class="col-md-6 col-7 content_section">
                  <!--=================== contact info and form start====================-->
                          <div> 
                             <h3> Modificar Usuario </h3>
                             <p> Bienvenido a Cacharrerias Don Andres recuerde llenar muy bien los campos antes de Modificar un Producto </p>
                             <br>
                          </div>
              </div>
          </div>     
            
                      <div class="row justify-content-center">
                                  
                           <div class="mt75 row justify-content-center">
                                                      

                                {% for i in shelf %}

                                <div class="grid-item branding col-sm-3 col-md-3 col-lg-3">
                                <div class="card" style="width:auto; min-width: 6cm;" >
                                <img class="card-img-top" src="/Imagen_Perfil/{{i.Imagen_Perfil}}">
                                <div class="card-body">    
                                <h5 class="card-title"><strong>{{i.Username }}</strong></h5>
                                <p class="card-text"><strong>{{i.Email }}</strong></p>
                                <p class="card-text"><strong>Fecha :</strong> <strong style="color: brown;">{{ i.Fecha_Nacimiento }}</strong></p>
                                
                              <center>
                                <form action="/resulmodiusuario/{{i.pk}}" method="GET">
                                 <button type="submit" class="btn btn-primary " style = "width: 50% ; min-width: 4cm;" >Edit</button>
                                </form>
                                <br>
                                <form action="/eliminarusuario/{{i.pk}}" method="GET">
                                 <button type="submit" class="btn btn-primary" style = "width: 50% ; min-width: 4cm;" >Eliminar</button>
                                </form>
                              </center>
                                </div>
                              </div>
                            </div>
                            <br>
                            
                            {% endfor %}
                        </div>


                          </div>
                      </div>
                  </div>
                  <!--=================== contact info and form end====================-->
              </div>
          </div>              
        </div>
  </div>
</div>

{% endblock %}