{% extends "padre.html" %}


{% load static %}

{% block title %}

 <title>Ventas</title>

 {% endblock %}

 {% block content%}

<div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
    <!--=================== filter portfolio start====================-->
 <div class="portfolio gutters grid img-container align-content-center" >

  
 <br>     
 <br>
 <div class="mt75 row justify-content-center">

     <form action="/agregarventa" method="GET">
     <div class="col-lg-2 col-12">
         <button type="submit" class="btn btn-primary">Agregar Venta</button>
     </div>
     </form>

     <form action="/modiventa" method="GET">
     <div class="col-lg-2 col-12">
         <button type="submit" class="btn btn-primary">Modificar</button>
     </div>
     </form>
      
     <form action="/reporte_ventas" method="GET">
      <div class="col-lg-2 col-12">
          <button type="submit" class="btn btn-primary">Reporte</button>
      </div>
      </form>
 </div>
 
 <br>     
 <br>

 <span class="label label-primary">Ventas Corriente</span>

 <table class="table">
    <thead>
      <tr>
        <th scope="col">Placa</th>
        <th scope="col">Empleado</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
        
      {% for i in ventas %}

      <tr>
        <th scope="row">{{i.Placa}}</th>
        <td>{{i.Vendedor}}</td>
        <td>{{i.Comprador}}</td>
        <td>{{i.Fecha}}</td>
        <td>{{i.Precio}}</td>
      </tr>
    
        {% endfor %}
    </tbody>
  </table>

 </div>
</div> 
 {% endblock %}